/*-----------------------------------------------------------------------------
| Notebook overrides
|----------------------------------------------------------------------------*/

/* 노트북 영역 컨테이너 */

/*.jp-NotebookPanel-notebook {*/

/*}*/

/* 노트북 영역 입력영역 컨테이너 */
.jp-Notebook {
  background: transparent !important;
  padding-top: 24px;
}

/* 노트북 영역 입력영역 내부 컨테이너 */
.jp-WindowedPanel-outer {
  background: var(--jp-layout-color0) !important;
  border-radius: var(--box-radius);
}
