/*-----------------------------------------------------------------------------
| 패널 스타일 오버라이드 파일
|----------------------------------------------------------------------------*/

/* 메인 컨테이너 */
#jp-main-content-panel {
  padding-top: var(--box-spacing);
  padding-bottom: var(--box-spacing);
}

/* 메인 패널 컨테이너 (사이드 바 제외) */
#jp-main-split-panel {
  padding: 0 var(--box-spacing) !important;

  /*margin: 0 10px !important;*/

  /*width: calc(100% - 20px) !important;*/
}

/* 상단 패널 */
#jp-top-panel {
  background-color: var(--layout-color);
  border-bottom: none !important;
}

/* 상단 패널 메뉴 영역 Wrapper */
#jp-menu-panel {
  height: 100%;
  background-color: var(--layout-color);
  display: flex;
  align-items: flex-end;
}

/* 상단 패널 메뉴 영역 (File, Edit, View, Run...) */
#jp-MainMenu {
  background-color: transparent;
}

/* 상단 패널 메인 로고 영역 */
#jp-MainLogo {
  /* 50px */
  width: calc(
    var(--jp-private-sidebar-tab-width) + var(--jp-border-width) + 17px
  ) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 상단 패널 메뉴 요소 */
.lm-MenuBar-item {
  border-radius: var(--item-radius);
}

.lm-MenuBar-item.lm-mod-active {
  border-radius: 0;
}

/* 하단 패널 */
#jp-down-stack {
  padding: var(--box-spacing) !important;
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--box-spacing);
}

/* 하단 패널 컨테이너 */
#jp-down-stack > .lm-TabBar {
  border: none;
  border-radius: var(--box-radius);
  contain: content !important;
  height: auto !important;
}

/* 하단 패널 헤더 목록 리스트 */
#jp-down-stack .lm-TabBar-content {
  background-color: var(--container-color);
  padding: 5px;
}

/* 하단 패널 헤더 탭 아이템 */
#jp-down-stack .lm-TabPanel-tabBar .lm-TabBar-tab.lm-mod-current {
  background-color: var(--selected-color) !important;
  border-radius: var(--item-radius);
  border: none !important;
}

/* 하단 패널 헤더 탭 선택된 아이템 */
#jp-down-stack > .lm-TabBar .lm-TabBar-tab.lm-mod-current {
  transform: translateY(0);
}

/* 하단 패널 본문 */
#jp-down-stack > .lm-TabPanel-stackedPanel {
  margin-top: calc(var(--box-spacing) * 2);
  border-radius: var(--box-radius);
  height: calc(100% - 50px) !important;
}
