/*-----------------------------------------------------------------------------
| 스크롤 스타일 오버라이드 파일
|----------------------------------------------------------------------------*/

/* 노트북 영역 스크롤 바 커스텀 */
.jp-WindowedPanel-outer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.jp-WindowedPanel-outer::-webkit-scrollbar-track {
  background: transparent;
  margin: 1rem;
}

.jp-WindowedPanel-outer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* 터미널 영역 스크롤 바 커스텀 */
.xterm .xterm-viewport::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.xterm .xterm-viewport::-webkit-scrollbar-track {
  background: transparent;
  margin: 1rem;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* 파일 영역 스크롤 바 커스텀 */
.jp-DirListing-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.jp-DirListing-content::-webkit-scrollbar-track {
  background: transparent;
  margin-bottom: 1rem;
}

.jp-DirListing-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* 코드 영역 스크롤 바 커스텀 */
.jp-zoom-target::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.jp-zoom-target::-webkit-scrollbar-track {
  background: transparent;
  margin: 1rem;
}

.jp-zoom-target::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* 기타 파일 영역 스크롤 바 커스텀 */
.cm-scroller .jp-zoom-target::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 기타 파일 영역 스크롤 바 커스텀 */
.cm-scroller .jp-zoom-target::-webkit-scrollbar-track {
  background: transparent;
  margin: 1rem;
}

/* 기타 파일 영역 스크롤 바 커스텀 */
.cm-scroller .jp-zoom-target::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* 좌측 사이드 패널 스크롤 바 커스텀 */

/*.lm-SplitPanel-child::-webkit-scrollbar {*/

/*    width: 8px;*/

/*    height: 8px;*/

/*}*/

/*.lm-SplitPanel-child::-webkit-scrollbar-track {*/

/*    background: transparent;*/

/*}*/

/*.lm-SplitPanel-child::-webkit-scrollbar-thumb {*/

/*    background: rgba(0, 0, 0, 0.3);*/

/*    border-radius: 4px;*/

/*}*/
