/*-----------------------------------------------------------------------------
| 터미널 스타일 오버라이드 파일
|----------------------------------------------------------------------------*/

/* 터미널 컨테이너 */
#jp-main-dock-panel .jp-Terminal {
  padding-top: 8px;
}

#jp-main-dock-panel .jp-Terminal-body {
  padding: 0;
}

#jp-main-dock-panel .xterm-viewport {
  border-radius: var(--box-radius);
}

/* 터미널 컨테이너 body */
.jp-Terminal-body {
  height: 100%;
}

/* 터미널 입력 canvas */
#jp-main-dock-panel .jp-Terminal canvas {
  padding: 20px;
  box-sizing: border-box;
  border: none;
}
